@{
    ViewData["Title"] = "RPSB - Contact";
}

<h2>If you have any questions,</h2>
<p style="margin-bottom: 3ex; text-align: center;">you can contact us via:</p>
<p>email: <a href="mailto:sorin.popov@isa.utm.md">sorin.popov@isa.utm.md</a></p>
<p>jabber: qa_rpsb@jabber.org</p>
<p>letter: str. Baker Street 211B, MD-2005 Chisinau, Republic of Moldova </p>