@{
    ViewData["Title"] = "RPSB - Features";
}

<h3 class="cover-heading" style="margin-bottom: 3ex;">Role Play SandBox FEATURES</h3>
<div class="cards">
    <div class="card" style="background-color: #B29576;">
    <img src="res/features/feature1.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Unique character</h5>
        <p class="card-text">Create a character with unique story that can change this world. The only limit is your imagination.</p>
        </div>
    </div>
    <div class="card" style="background-color: #B29576;">
        <img src="res/features/feature2.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Own environment</h5>
        <p class="card-text">Build your environment and make breath it with your guild help. Defend your ideas about how should work this world.</p>
        </div>
    </div>
    <div class="card" style="background-color: #B29576;">
        <img src="res/features/feature3.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Your scenarios</h5>
        <p class="card-text">Organise events with original scenarios. That contribute to goal the global scope of every great creature in that world.</p>
        </div>
    </div>
</div>
